<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.truelife">


<!--    <uses-permission android:name="android.permission.READ_CONTACTS" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <dist:module dist:instant="true" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".TLApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"

        android:theme="@style/AppTheme.NoActionBar"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:supportsRtl,android:allowBackup">
        <activity
            android:exported="false"
            android:name=".app.activity.YoutubePalyerActivity"
            android:configChanges="orientation|screenSize|layoutDirection" />
        <activity
            android:exported="false"
            android:name=".app.activity.DashBoardSearchDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="false"
            android:name=".app.activity.DashboardSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.FeedEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.FeedShareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.feedpost.FeedDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.ImagePreview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:exported="true"
            android:name=".app.activity.ComingSoonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.ProfileSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.YourFollowersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.AccountSetting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.PersonalSetting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.PrivacySetting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.AboutTrueLife"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.BlockedListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.ReportProblemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.TLCelebrityLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.TLForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:exported="true"
            android:name=".app.activity.TLResetPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.viewer.TLWebViewView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name=".app.activity.TLSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:exported="true"
            android:name=".app.activity.TLDashboardActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:exported="true"
            android:name=".app.activity.TLChatActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:exported="true"
            android:name=".app.activity.TLSigninActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.activity.TLSignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.VideoPreviewActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.activity.AddBlockedList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.activity.CreateClub"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.activity.feedpost.activity.TLScreenPostFeedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:exported="true"
            android:name=".app.activity.feedpost.activity.PostFeedDirectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <!-- receive one image -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- receive multiple images -->

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- receive one video only -->

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
            <!-- receive multiple  video  -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".app.activity.club.ClubListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.fragment.club.TLClubDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.fragment.club.more.ClubPrivacyAcitivty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.fragment.club.more.invite.TLClubGeneralPublic"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.fragment.club.more.invite.TLClubFriendsContacts"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.fragment.club.more.invite.TLClubGeneralInviteScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.fragment.club.more.invite.TLClubAllFriends"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.fragment.club.more.invite.TLClubRemoveFriends"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.fragment.club.more.TLClubChangeAdmin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.touchimageview.TLMediaPreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.activity.FriendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.activity.TLProfileTotalPhotos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.activity.otp.TLOTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:exported="true"
            android:name=".app.activity.TLAutoGraphActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:exported="true"
            android:name=".app.activity.TLMomentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:exported="true"
            android:name=".app.activity.TLCinemaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".app.activity.TLRaiseIssueActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="@string/CLOUDINARY_URL" />

       <!-- <service android:name=".notification.MyFirebaseMessengingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.truelife.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>


        <activity
            android:exported="true"
            android:name=".chat.activities.LockscreenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name=".chat.activities.authentication.AuthenticationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <activity
            android:exported="true"
            android:name=".chat.activities.UpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:exported="true"
            android:name=".chat.activities.TextStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:exported="true"
            android:name=".chat.activities.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:exported="true"
            android:name=".chat.activities.ShareGroupLinkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:exported="true"
            android:name=".chat.activities.SplashActivity"
            android:theme="@style/SplashScreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:exported="true"
            android:name=".chat.activities.NewChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:exported="true"
            android:name=".chat.activities.main.messaging.ChatActivity"
            android:label=""
            android:parentActivityName=".chat.activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:exported="true"
            android:name=".chat.activities.FullscreenActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />

        <activity
            android:exported="true"
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".chat.activities.AgreePrivacyPolicyActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:exported="true"
            android:name=".chat.activities.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:exported="true"
            android:name=".chat.activities.ProfilePhotoDialog"
            android:theme="@style/DialogTheme" />
        <activity
            android:exported="true"
            android:name=".chat.activities.ForwardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- these intent filters to receive data from other apps including images,videos,audio,contacts -->


            <!-- receive text -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- receive one image -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- receive multiple images -->

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- receive one video only -->

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>

            <!-- receive one audio -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>

            <!-- receive contacts -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/x-vcard" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".chat.activities.UserDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:exported="true"
            android:name=".chat.activities.MediaGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:exported="true"
            android:name=".chat.activities.SelectContactNumbersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:exported="true"
            android:name=".chat.activities.ContactDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".chat.activities.settings.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />
        <activity
            android:exported="true"
            android:name=".chat.activities.ProfilePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:exported="true"
            android:name=".chat.activities.setup.SetupUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:exported="true"
            android:name=".chat.activities.NewGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"  />
        <activity
            android:exported="true"
            android:name=".chat.activities.ViewStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:exported="true"
            android:name=".chat.activities.MyStatusActivity"
            android:label="@string/title_activity_my_status"
            android:parentActivityName=".chat.activities.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chat.activities.main.MainActivity" />
        </activity>

        <activity
            android:name=".chat.activities.calling.CallingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".chat.activities.NewCallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:exported="true"
            android:name=".chat.activities.AcceptInviteLink"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/group_invite_host"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="@string/group_invite_host"
                    android:pathPrefix="/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".chat.placespicker.PlacesPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:exported="true"
            android:name=".chat.extensions.ExitAndRemoveFromRecentAppsDummyActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay" />

        <!-- SERVICES -->
        <service
            android:exported="true"
            android:name=".chat.job.NetworkJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:exported="true"
            android:name=".chat.job.SaveTokenJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:exported="true"
            android:name=".chat.job.SetLastSeenJob"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- <service -->
        <service
            android:name=".chat.services.MyFCMService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".chat.services.FCMRegistrationService"
            android:exported="false" />
        <service
            android:name=".chat.services.InternetConnectedListener"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".chat.services.NetworkService" />
        <service
            android:name=".chat.services.AudioService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".chat.receivers.HandleReplyReceiver"
            android:exported="false"
            />
        <receiver
            android:name=".chat.receivers.MarkAsReadReceiver"
            android:exported="false" />

        <service
            android:name=".chat.services.CallingService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="r5oVXgaaSqnhWtqsuMMc" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="Pv-_XkZ7CsE9EJn5W1Ahcg" />

        <activity
            android:exported="true"
            android:name=".chat.activities.BackupChatActivity"
            android:label="@string/title_activity_backup_chat"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>